@font-face {
    font-family: "PolicePerso";
    src: url('../font/perso.ttf');
}

html{
    background:#FDF1B8;
    font-family: sans-serif;
}

nav{
    position: fixed;
    width: 100%;
    background: #000000;
    color: #FFFFFF;
    top: 0;
    left:0;
}

nav h1{
    text-align: center;
}

#conteneur{
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.loader{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(../img/loader.gif) center center #F3E7D1 no-repeat;
}